.function-button > img{
    margin-right: 10px;
    margin-bottom: 5px;
}

.function-button:hover{
    background-color: whitesmoke;
}

.position-toggle-button-right{
    width: 35px;
    float: right;
}

.toggle-button{
    border: none;
    box-shadow: none;
    background: transparent;
}

.toggle-button:hover{
    background: transparent;
}